@import "./variables";

.loginView {
    width: 50%;
    margin-left: 25%;
    padding-top: 200px;
}

.loginHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        height: 100px;
    }
}

.registerText {
    display: flex;
    font-weight: bold;
    width: 80%;
    margin-left: 10%;
}

.toRegister {
    text-decoration: none;
    color: $TertiaryColor;
    margin-left: 10px;
    margin-top: 16px;
    cursor: pointer;
    &:hover {
        color: $TertiaryHover;
    }
}

#guestLogin {
    background-color: $SecondaryColor;
    &:hover {
        background-color: $PrimaryColor;
    }
}

.loginBtn {
    text-decoration: none;
}