@import "./variables";

.closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
    &:hover {
        filter: brightness(75%);
    }
}

.newShipmentContainer {
    background-color: white;
    border-radius: 20px;
    max-width: 750px;
    box-shadow: 0px 0px 10px #000000;
}

#createShipmentbtn {
    float: right;
    top: -40px;
    right: 20px;
    width: 200px;
}

.colorInputItem {
    width: 80%;
    margin-left: 10%;
}

