.profileViewHeader {
    text-align: left;
    margin-left: 10%;
}

.profileContainer {
    background-color: white;
    margin: 100px 20px 100px 250px;
    padding: 50px 0;
    border-radius: 20px;
}

.inputItems3 {
    display: grid;
    grid-template-columns: 30% 30% 28%;
    column-gap: 5%;
    margin-left: 7%;
    margin-right: 5%;
}

#updateProfile {
    width: 200px;
    float: left;
    margin-left: 10%;
}

@media only screen and (max-width: 720px) {

    .profileContainer {
        margin-left: 100px;
    }

    .inputItems3 {
        grid-template-columns: 100%;
    }
    
}