.sidebar {
    background-color: $PrimaryColor;
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    width: 200px;
    font-weight: bold;
}

.sidebarHeader {
    display: flex;
    color: white;
    font-size: 20px;
    border-bottom: solid 5px white;
    & img {
        width: 50px;
        height: 50px;
        margin: 10px;
        margin-left: -5px;
    }
    & p {
        overflow: hidden;
    }
}

#sideBarToggle {
    display: none;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        filter: contrast(white);
    }
}

.navBtn {
    text-decoration: none;
    color: white;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    transition: .5s;
    background-color: $SecondaryColor;
    display: flex;
    overflow: hidden;
    &:hover {
        background-color: $TertiaryHover;
    }
}

.navBtnImg {
    height: 25px;
    margin: 3px 10px 0 8px;
}

.navBtnText {
    margin: 0;
}

.router-link-exact-active {
    background-color: $TertiaryColor;
    &:hover {
        background-color: $TertiaryHover;
    }
}

#logOutBtn {
    position: absolute;
    bottom: 35px;
    width: 85%;
    height: 32px;
    cursor: pointer;
    &.router-link-exact-active {
        background-color: $SecondaryColor;
    }
}

@media only screen and (max-width: 720px) {

.sidebar {
    width: 40px;
}

#sideBarToggle {
    display: block;
}

#logOutBtn {
    width: 55%;
}

#sideBarOpen {
    width: 200px;
}

}