.sidebar {
  background-color: #434c6d;
  float: left;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  font-weight: bold;
}

.sidebarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 20px;
  border-bottom: solid 5px white;
}

.sidebarHeader img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.navBtn {
  text-decoration: none;
  color: white;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #556080;
}

.navBtn:hover {
  background-color: #1d8b73;
}

.router-link-exact-active {
  background-color: #26b99a;
}

.router-link-exact-active:hover {
  background-color: #1d8b73;
}

#createNewShipment {
  float: right;
  margin-top: -50px;
  margin-right: 20px;
  width: 300px;
  padding-top: 10px;
}

.ordersContainer {
  background-color: white;
  margin: 150px 20px 0 250px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
  position: relative;
}

.ordersContainerHeader {
  background-color: #434c6d;
  margin-left: 2%;
  margin-right: 2%;
  height: 40px;
  width: 94%;
  position: absolute;
  margin-top: -60px;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 2%;
  text-align: left;
  color: white;
  font-weight: bold;
}

.orderItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 15% 20% 20%;
      grid-template-columns: 20% 15% 20% 20%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid 2px #556080;
  text-align: left;
}

.currentOrderItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 15% 15% 15% 10%;
      grid-template-columns: 15% 15% 15% 15% 10%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid 2px #556080;
  text-align: left;
}

.orderHighlight {
  background-color: #26b99a;
  text-align: center;
  color: white;
  width: 80%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding-top: 1px;
}

.orderColor {
  width: 80%;
  height: 20px;
  background-color: lightgray;
  margin-top: 15px;
  border-radius: 10px;
}

.blurBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  background-color: #26b99a;
  -webkit-transition: .5s;
  transition: .5s;
}

.closeBtn:hover {
  background-color: #1d8b73;
}

.newShipmentContainer {
  position: fixed;
  z-index: 3;
  min-height: 500px;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  padding-top: 50px;
  min-width: 400px;
  max-width: 750px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
}

.loginView {
  width: 50%;
  margin-left: 25%;
  padding-top: 200px;
}

.loginHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginHeader img {
  height: 100px;
}

.registerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  width: 80%;
  margin-left: 10%;
}

.registerText p:last-of-type {
  color: #26b99a;
  margin-left: 10px;
  cursor: pointer;
}

.registerText p:last-of-type:hover {
  color: #1d8b73;
}

.profileViewHeader {
  text-align: left;
  margin-left: 10%;
}

.profileContainer {
  background-color: white;
  margin: 100px 20px 0 250px;
  padding: 50px 0;
  border-radius: 20px;
}

.inputItems3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 28%;
      grid-template-columns: 30% 30% 28%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  margin-left: 7%;
  margin-right: 5%;
}

#updateProfile {
  border-radius: 20px;
  background-color: #26b99a;
  width: 20%;
  margin-left: 10%;
  color: white;
  height: 40px;
  padding-top: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

#updateProfile:hover {
  cursor: pointer;
  background-color: #1d8b73;
}

.registerView {
  width: 50%;
  margin-left: 25%;
  padding-top: 200px;
}

.inputPassword {
  padding-bottom: 10px;
  border-bottom: solid #26b99a;
}

#app {
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  background-color: #ededed;
}

.header {
  text-align: left;
  margin-left: 250px;
}

.button {
  border-radius: 20px;
  background-color: #26b99a;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  color: white;
  height: 40px;
  padding-top: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background-color: #1d8b73;
}

.inputItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.inputItem {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  margin-bottom: 20px;
}

.inputItem input {
  width: 100%;
  height: 20px;
  border: solid 2px;
  border-radius: 20px;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */