@import "./variables";
@import "./sideBar";
@import "./mainView";
@import "./newShipment";
@import "./loginView";
@import "./profileView";
@import "./registerView";

#app {
    padding: 0;
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

body {
    background-color: rgb(237, 237, 237);
}

.header {
    text-align: left;
    margin-left: 250px;
}

.button {
    border-radius: 20px;
    background-color: $TertiaryColor;
    width: 80%;
    margin-left: 10%;
    color: white;
    height: 40px;
    padding-top: 20px;
    transition: .5s;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: $TertiaryHover;
    }
}

.inputItems {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 5%;
    margin-right: 5%;
}

.inputItem {
    width: 80%;
    margin-left: 10%;
    text-align: left;
    margin-bottom: 20px;
    & input {
        width: calc(100% - 15px);
        height: 20px;
        border: solid 2px;
        border-radius: 20px;
        padding: 5px;
        padding-left: 15px;
    }
}

.required:after {
    content: " *";
    color: red;
    width: 10px;
    height: 10px;
}

.slider {
    position: absolute;
    padding-bottom: 100%;
    padding-top: 100px;
}

.spacing {
    width: 15px;
}