.sidebar {
  background-color: #434c6d;
  float: left;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  font-weight: bold;
}

.sidebarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 20px;
  border-bottom: solid 5px white;
}

.sidebarHeader img {
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: -5px;
}

.sidebarHeader p {
  overflow: hidden;
}

#sideBarToggle {
  display: none;
  margin-top: 10px;
  cursor: pointer;
}

#sideBarToggle:hover {
  -webkit-filter: contrast(white);
          filter: contrast(white);
}

.navBtn {
  text-decoration: none;
  color: white;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #556080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.navBtn:hover {
  background-color: #1d8b73;
}

.navBtnImg {
  height: 25px;
  margin: 3px 10px 0 8px;
}

.navBtnText {
  margin: 0;
}

.router-link-exact-active {
  background-color: #26b99a;
}

.router-link-exact-active:hover {
  background-color: #1d8b73;
}

#logOutBtn {
  position: absolute;
  bottom: 35px;
  width: 85%;
  height: 32px;
  cursor: pointer;
}

#logOutBtn.router-link-exact-active {
  background-color: #556080;
}

@media only screen and (max-width: 720px) {
  .sidebar {
    width: 40px;
  }
  #sideBarToggle {
    display: block;
  }
  #logOutBtn {
    width: 55%;
  }
  #sideBarOpen {
    width: 200px;
  }
}

#createNewShipment {
  float: right;
  margin-top: -50px;
  margin-right: 20px;
  width: 300px;
  padding-top: 10px;
}

.ordersContainer {
  background-color: white;
  margin: 150px 20px 0 250px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.ordersContainerHeader {
  background-color: #434c6d;
  height: 40px;
  position: relative;
  margin-top: -60px;
  margin-left: -4%;
  margin-right: -4%;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 2%;
  text-align: left;
  color: white;
  font-weight: bold;
}

.orderItems {
  border-bottom: solid 2px #556080;
  text-align: left;
}

.orderHighlight {
  background-color: #26b99a;
  text-align: center;
  color: white;
  width: 80%;
  font-weight: bold;
  border-radius: 10px;
  padding-top: 2px;
  height: 20px;
  margin-top: 15px;
}

.orderColor {
  width: 80%;
  height: 20px;
  background-color: lightgray;
  margin-top: 15px;
  border-radius: 10px;
}

@media only screen and (max-width: 720px) {
  .ordersContainer {
    margin-left: 100px;
  }
  .header {
    margin-left: 100px;
  }
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.closeBtn:hover {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.newShipmentContainer {
  background-color: white;
  border-radius: 20px;
  max-width: 750px;
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
}

#createShipmentbtn {
  float: right;
  top: -50px;
  right: 20px;
  width: 200px;
}

.colorInputItem {
  width: 80%;
  margin-left: 10%;
}

@media only screen and (max-width: 720px) {
  #createShipmentbtn {
    margin-top: 50px;
    margin-left: 120px;
    float: left;
  }
}

.loginView {
  width: 50%;
  margin-left: 25%;
  padding-top: 200px;
}

.loginHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginHeader img {
  height: 100px;
}

.registerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  width: 80%;
  margin-left: 10%;
}

.toRegister {
  text-decoration: none;
  color: #26b99a;
  margin-left: 10px;
  margin-top: 16px;
  cursor: pointer;
}

.toRegister:hover {
  color: #1d8b73;
}

#guestLogin {
  background-color: #556080;
}

#guestLogin:hover {
  background-color: white;
  color: #556080;
  border: solid 1px #556080;
}

.loginBtn {
  text-decoration: none;
}

.profileViewHeader {
  text-align: left;
  margin-left: 10%;
}

.profileContainer {
  background-color: white;
  margin: 100px 20px 100px 250px;
  padding: 50px 0;
  border-radius: 20px;
}

.inputItems3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 28%;
      grid-template-columns: 30% 30% 28%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  margin-left: 7%;
  margin-right: 5%;
}

#updateProfile {
  width: 200px;
  float: left;
  margin-left: 10%;
}

@media only screen and (max-width: 720px) {
  .profileContainer {
    margin-left: 100px;
  }
  .inputItems3 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

#app {
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  background-color: #ededed;
}

.header {
  text-align: left;
  margin-left: 250px;
}

.button {
  background-color: #26b99a;
  width: 80%;
  margin-left: 10%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 10px 0;
}

.button:hover {
  background-color: white;
  color: #26b99a;
}

.button.centerBtn {
  margin-left: 0;
}

.inputItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.inputItem {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  margin-bottom: 20px;
}

.inputField {
  border: solid 1px;
}

.inputPassword {
  padding-bottom: 10px;
  border-bottom: solid #26b99a;
}

.required:after {
  content: " *";
  color: red;
  width: 10px;
  height: 10px;
}

.slider {
  position: absolute;
  padding-bottom: 100%;
  padding-top: 100px;
}

.spacing {
  width: 15px;
}

@media only screen and (max-width: 720px) {
  .header {
    margin-left: 100px;
  }
  .inputItems {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}
/*# sourceMappingURL=style.css.map */